h1{
    color: brown;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
}

p{
    color: blue;

}

h2{
    color: green;
    font-size: 20px;


}
h3{
    color: green;
    font-size: 15px;
}

*{
    background-color: blanchedalmond;
    text-transform: lowercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;


}
#par{
    color: blueviolet;

}
.lis{
    color: olive;
}
.boxmodel{
    background-color: chartreuse;
    width: 500px;
    height: 600px;
    padding: 20px;
    border: 3px solid black;

}
.box{
    background-color: pink;
    width: 400px;
    height: 500px;
    margin: 20px auto;
    border: 3px solid black;


}

#con{
    color: brown;
    text-align: center;


}